# Ignore git files
.git
.gitignore

# Ignore Python build artifacts
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ignore editor files
.vscode
.idea
*.swp
*.swo

# Other common exclusions
*.log
.DS_Store